img {
	width: 100%;
}

.carousel {
	.container {
		width: 100%;
		padding: 0;
	}

	width: 100%;

	figure {
		display: block;
		position: relative;
	}

	img,
	h3,
	h2,
	a {
		@include main-font-regular();
		text-transform: uppercase;
	}

	figure figcaption {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		top: 20%;
		left: 50%;
	}

	h2 {
		@include fontsize(10px);
		top: 20%;
		margin: 0;
		
	}

	h3 {
		@include main-font-bold();
		@include fontsize(14px);
		margin: 14px 0 14px;
	}

	.button {
		@include fontsize(10px);
		top: 52%;
		margin-left: auto;
		padding: 8px;
		border: solid 1px $black;
		background-color: $white;
	}

	.fas, .fa-arrow-right, .fa-arrow-left, .arrow-right, .arrow-left {
		display: none;
	}
	
	@media (min-width: 1200px) {
		.container {
			width: 1280px;
		}
	}

	@media (min-width: 1400px) {

		display: flex;
		justify-content: center;

		.fas, .fa-arrow-right, .fa-arrow-left, .arrow-right, .arrow-left {
			display: block;
		}

		.fa-arrow-right, .fa-arrow-left {
			@include fontsize(30px);
			position: relative;
			top: 330px;
		}

		.arrow-left, .arrow-right {
			margin: 1%;
		}

		.arrow-left {
			order: 1;
		}

		.container {
			order: 2;
			margin: 0;
		}

		.arrow-right {
			order: 3;
		}
	}
}