footer {
	overflow: hidden;

	nav {
		ul {
			padding: 0;
			margin: 10px 0;
			color: #999999;

			li {
				display: inline-block;
			}

			li:nth-child(1) {
				margin-right: 2%;
			}

			li:nth-child(2) {
				margin-right: 2%;
			}
		}
	}

	p {
		margin: 3% 0;
	}

	@media (min-width: 1200px) {
		p > *:nth-child(1) {
			display: none;
		}
	}
}