
header {

	h1 {
		@include main-font-regular(); 
		@include fontsize(14px);
		color: $tlgray;
		text-align: center;
	}

	.home_btn {
		display: block;
		text-align: center;
		margin: 5px;
		background-color: $tlblack;
		color: $white;
		@include alt-font-bold();
		@include fontsize(30px);
		width: 40px;
		height: 40px;
		line-height: 40px;
		position: relative;


	}

	.triangle::after {
		content: "\00a0";
		display: block;
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #f00;
		position: absolute;
		transform: translateX(333%) translateY(-85%) rotate(-45deg);
	}
	.home_btn .logo {
		@include alt-font-bold();
		@include fontsize(16px);
	}

	.menu {
		@extend .home_btn;
	}

	.menu .bar {
		content: "\00a0";
		display: block;
		margin: 4px auto;
		width: 22px;
		height: 3px;
		background-color: $white;
	}

	.menu div {
		padding-top: 7px;
	}

	.col-xs-12 {
		display: flex;
	}


	// > CIBLE LES ENFANTS DIRECTS
	// * CIBLE N'IMPORTE QUEL ENFANT DIRECT
	.col-xs-12 > *:nth-child(1) {
		order: 1;
	}

	.col-xs-12 > *:nth-child(2) {
		order: 3;
		display: flex;
		justify-content: flex-end;

		@media (min-width: 1024px) {
			flex-direction: flex-end;
			align-items: flex-end;
		}
	}

	.col-xs-12 > *:nth-child(3) {
		order: 2;
		padding-top: 70px;
	}

	.col-xs-1 {
		h1 {
			display: none;

			@media (min-width: 1024px) {
				display: block;
				@include alt-font-bold;
				@include fontsize(20px);
				text-transform: uppercase;
				position: relative;
				top: -26%;
				left: -35.7%;
				margin: 0;
			}
		}

		h2 {
			display: none;

			@media (min-width: 1024px) {
				display: block;
				@include fontsize(10px);
				position: relative;
				top: -26%;
				left: 9.3%;
				color: #7c7c7c;
				margin: 0;
			}
		}

		h3 {
			display: none;

			@media (min-width: 1024px) {
				display: block;
				width: 745px;
				text-transform: none;
				@include main-font-regular;
				@include fontsize(23px);
				color: $tgray;
				margin: 0;
			}
		}
	}

	.col-xs-10 h1 {
		@media (min-width: 1024px) {
			display: none;
		}
	}
}


