main {
	figure {
		position: relative;
	}

	.container {
		display: flex;
		padding: 0;
	}

	.products {
		.container > *:nth-child(1) {
			width: 50%;
			margin-right: 4%;
		}

		.container > *:nth-child(2) {
			width: 50%;
			@media (min-width: 768px) {
				margin-right: 4%;
			}
		}

		.container > *:nth-child(3) {
			width: 50%;
			@media (min-width: 992px) {
				margin-right: 4%;
			}
		}

		.container > *:nth-child(4) {
			width: 50%;
		}

		figcaption {
			position: relative;
		}
	}

	

	figcaption {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		top: 4%;
		left: 5%;
	}

	.container .thumbnail figcaption{
		top: -4%;
	}

	figcaption h3 {
		margin: 5px 0 5px 0;
	}

	.button {
		@include main-font-regular-italic();
		@include fontsize(14px);
	}

	.newsletter {
		overflow: hidden;

		form {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			padding-bottom: 14px; 
		}

		.separation {
			margin: 50px 0 0 0;
		}
	}

	.separation {
		border-top: solid 1px $black;
		margin: 15px 0 15px 0;
	}

	.blog {
		h4 {
			text-align: center;
		}

		.separation {
				width: 30px;
				margin: 0 50%;
				transform: translateX(-50%);
			}

		.wp-review {
			width: 100%;
			display: flex;
			justify-content: center;

			.post-by::after {
				content: "/";
				margin: 0 5px 0 5px;
			}

			.date::after {
				content: "/";
				margin: 0 5px 0 5px;
			}

			@media (max-width: 768px) {
				display: none;
			}
		}
	}

}

