main {
	figure {
		position: relative;
	}

	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		padding: 0;
	}

	.container > *:nth-child(1) {
		order: 1;
		flex: 1 1 auto;
		align-self: auto;
		width: 50%;
		margin-right: 4%;
	}

	.container > *:nth-child(2) {
		order: 2;
		flex: 1 1 auto;
		align-self: auto;
		width: 50%;
	}

	figcaption {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		top: 4%;
		left: 5%;
	}

	.container .thumbnail figcaption{
		top: -4%;
	}

	figcaption h3 {
		margin: 5px 0 5px 0;
	}

	.button {
		@include main-font-regular-italic();
		@include fontsize(14px);
	}
}