main {
	figure {
		position: relative;
	}

	.feature {
		display: flex;
		justify-content: space-between;
		margin: 2% 0;

		p {
			margin: 0;
			font-weight: 700;
		}

		a {
			@include main-font-regular-italic();
			color: $tlgray;
			text-decoration: underline;
		}
	}

	.resize-mans {
		padding-bottom: 48.57%;
		height: 0;
		overflow: hidden;

		img {
			position: relative;
			top: -20px;
		}

		@media (min-width: 1024px) {
			overflow: visible;

			img {
				top: 0;
			}
		}
	}

	> *:nth-child(2) {
		color: $tlgray;

		.view-collection::after {
			content: "\20D7";
			position: absolute;
			top: 27px;
			left: 110px;
			@include fontsize(30px);
		}
	}

	.container {
		display: flex;
		padding: 0;
	}

	.products {

		.container > *:nth-child(1) {
			width: 50%;
			margin-right: 4%;
		}

		.container > *:nth-child(2) {
			width: 50%;
			@media (min-width: 768px) {
				margin-right: 4%;
			}
		}

		.container > *:nth-child(3) {
			width: 50%;
			@media (min-width: 1024px) {
				margin-right: 4%;
			}
		}

		.container > *:nth-child(4) {
			width: 50%;
		}

		div.text-product {
			position: relative;
			margin: 30px 0 70px 0;
		}

		@media (max-width: 1199px) {
			figcaption {
				display: none;
			}
		}

		@media (min-width: 1200px) {

			figure.effect-oscar .pad {
				-webkit-transition: background-color 0.35s;
				transition: background-color 0.35s;
				top: 20px;
				left: 20px;
				width: calc(100% - 40px);
				height: calc(100% - 40px);
				display: flex;
				align-items: center;
				justify-content: center;
			}

			figure.effect-oscar .pad::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border: 1px solid #fff;
				content: '';
				background-color: $white;
			}

			figure.effect-oscar h2 {
				margin: 20% 0 10px 0;
				-webkit-transition: -webkit-transform 0.35s;
				transition: transform 0.35s;
				-webkit-transform: translate3d(0,100%,0);
				transform: translate3d(0,100%,0);
			}

			figure .pad a {
				width: 95px;
			}

			figure.effect-oscar .pad::before,
			figure.effect-oscar p {
				opacity: 1;
				-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
				transition: opacity 0.35s, transform 0.35s;
				-webkit-transform: scale(0);
				transform: scale(0);
				text-transform: uppercase;
				@include main-font-regular-serif;
				@include fontsize(12px);
			}

			figure.effect-oscar p {
				text-align: center;
				border: solid 1px;
				padding: 20%;
				margin: 3% -20%;
			}

			figure.effect-oscar p:hover {
				background: $black;
				color: $white;
				transition: opacity(0.3);
			}

			figure.effect-oscar:hover h2 {
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}

			figure.effect-oscar:hover .pad::before,
			figure.effect-oscar:hover p {
				opacity: 1;
				-webkit-transform: scale(1);
				transform: scale(1);
			}
		}
	}

	.lightgrey {
		color: $tlgray;
	}

	figcaption {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		top: 4%;
		left: 5%;
	}

	.container .thumbnail figcaption{
		top: -4%;
	}

	figcaption h3 {
		margin: 5px 0 5px 0;
		color: $tgray;
	}

	.button {
		@include main-font-regular-italic();
		@include fontsize(14px);
	}

	.newsletter {
		overflow: hidden;

		.type-email {
			width: 45%;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			padding: 10px;
			border: solid 1px #b3b3b3;
			color: #b3b3b3;
		}

		.form-btn {
			background-image: url(../images/plus.png);
			background-repeat: no-repeat;
			background-color: $white;
			border: none;
			position: absolute;
			left: 70%;
			margin: 16px 0;
			cursor: pointer;
		}

		.separation {
			margin: 80px 0 0 0;
		}
	}

	.separation {
		height: 2px;
		border-top: solid 1px #d2d2d2;
		border-bottom: solid 1px #d2d2d2;
		margin: 15px 0 15px 0;

		@media (min-width: 768px) {
			height: 3px;
		}
	}

	.blog {
		h2 {
			margin-top: 3%;
		}

		h4 {
			text-align: center;
			@include fontsize(18px);
			font-weight: 400;
		}
		
		.separation {
			width: 30px;
			margin: 0 50%;
			transform: translateX(-50%);
			border-color: $black;
			border-bottom: none;
		}

		.wp-review {
			width: 100%;
			display: flex;
			justify-content: center;

			.post-by::after {
				content: "\002f";
				margin: 0 5px 0 5px;
			}

			.date::after {
				content: "\002f";
				margin: 0 5px 0 5px;
			}

			@media (max-width: 768px) {
				display: none;
			}
		}
		
		.col-lg-12 {
			@media (min-width: 1200px) {
				display: flex;

				.separation {
					margin: 0;
					transform: none;
				}

				h4 {
					width: 425px;
				}

				> *:nth-child(1) h4 {
					text-align: right;
					float: right;
				}

				> *:nth-child(2) h4 {
					text-align: left;
				}

				> *:nth-child(1) {
					margin-right: 3%;

					.separation {
						margin-left: 94.9%;
						float: right;
					}

					.wp-review {
						justify-content: flex-end;
					}
				}

				> *:nth-child(2) {
					margin-left: 3%;

					.wp-review {
						justify-content: flex-start;
					}
				}
			}			
		}
	}

	.fas, .fa-arrow-right, .fa-arrow-left {
		display: none;
	}
	
	@media (min-width: 1024px) {
		.col-md-12 {
			display: flex;

			> *:nth-child(1) {
				margin-right: 2%;
			}
		}
	}

	@media (min-width: 1200px) {
		.fas, .fa-arrow-right, .fa-arrow-left {
			display: block;
		}

		.fa-arrow-right {
			@include fontsize(30px);
		}

		.arrow-right {
			position: relative;
			bottom: 120px;
			float: right;
		}

		.fa-arrow-left {
			@include fontsize(30px);
		}

		.arrow-left {
			position: relative;
			bottom: 120px;
			float: left;
		}
	}

	
}

