/*----------------------------------------------------------------
# Colors
----------------------------------------------------------------*/

// text
$tlgray: #727272;
$tgray: #3d3d3d;
$tlblack: #363636;
$tblack: #282828;
$tdblack: #212121;

// common
$white: #ffffff;
$black: #1c1c1c;
